<div class="card border-dark">
    <div class="card-header text-center text-white">RESET PASSWORD</div>
    <div class="card-body">
  
      <form [formGroup]="employeeNumberSearchFrom" (ngSubmit)="resetPasswordClicked()">
        <div class="form-group form-inline d-flex justify-content-center">
          <div class="mx-sm-2">
            <input type="number" class="form-control form-control-sm" id="employeeNumber" formControlName="employeeNumber"
              name="employeeNumber" placeholder="Enter Employee Number" autocomplete="off">
          </div>
          <div>
            <button type="submit" [disabled]="employeeNumberSearchFrom.invalid" class="btn btn-sm btn-dark" id="search"
              name="search">Reset</button>
          </div>
        </div>
      </form>
  
      <div *ngIf="isProcessing">
        <div class="form-group d-flex justify-content-center">
          <label class="font-weight-bold">Processing....</label>
          <div class="spinner-border text-info"></div>
        </div>
      </div>
    </div>
  </div>
  