.card-header {
    font-size: 20px;
    background-color: #a95c0d;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#titleDiv{
    display: flex;
    justify-content: center;
    height: 0px;
  }

  .table .thead-dark th {
   
    background-color: #a95c0d;
  }