.container {
    display: flex;
    justify-content: center;
  }
  
  .card-header {
    font-size: 20px;
    background-color: rgb(23 162 184);
  }
  
  .table thead th {
    background-color: #a95c0d;
    color: white;
  }
  
  /* .table td {
    border-top: 1px;
  } */

  #titleDiv{
    display: flex;
    justify-content: center;
    height: 0px;
}
.alert-warning{
  color: #1F2D3D;
  background:none;
  /* border-color: #edb100; */

  
}

.modal-header{
 display: flex;
 justify-content: center;
 background-color: #a95c0d;
 
}

.card-header {
  font-size: 20px;
  background-color: #a95c0d;
}