<div class="card border-dark">
  <div class="card-header text-center text-white">CHANGE PASSWORD </div>
  <div class="card-body">
    <form  (ngSubmit)="onSubmitIncidentMasterForm()">
      <div class="row">

        

       
        <div class="col-md-2 mb-4 mt-4">
        <div>
          <select class="form-control" name="incidentType" formControlName="incidentType" required>
            <option value="" disabled>Select Incident Type</option>
            <option *ngFor="let incidentType of incidentTypeList" [ngValue]="incidentType"
              class="form-control form-control-sm">
              {{incidentType}}</option>
          </select>
        </div>
      </div>

        

     
        
      </div>

      


     


      

     
      <div class="button mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</div>