.card-header {
    font-size: 20px;
    background-color: #a95c0d;
  }
  
  .input-group-text {
    color: #ffffff;
    background-color: #17a2b8;
  }

  .alert-danger{
    background-color: #ffffff;
    text-decoration: none;
    border: none;
    color: red;
  }