<div class="card border-dark">
  <div class="card-header text-center text-white">CHANGE PASSWORD </div>
  <div class="card-body">
    
    <form [formGroup]="changePasswordform" (ngSubmit)="onSubmitChangePassword()">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <input type="password" placeholder="Enter New Password" class="form-control-sm mt-3 mb-3 ml-5"
            autocomplete="off" formControlName="password" required>
          <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
            <div *ngIf="f.password.errors.required">Password is required.</div>
          </div>
        </div>

        <div class="col-md-4">

          <input type="password" class="form-control-sm mt-3  mb-3 ml-5" name="confpassword" autocomplete="off"
            placeholder="Enter Confirm Password" formControlName="confirm_password">
          <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
          </div>
        </div>

        <div class="col-md-4">
          <button type="submit" [disabled]="!changePasswordform.valid"
            class="btn btn-primary btn-sm mt-3 mb-3 ml-5">Submit</button>
        </div>

      </div>

    </form>
  </div>
</div>
